* {
      margin: 0;
      padding: 0;
      font-family: 'poppins', sans-serif;
      box-sizing: border-box;
  }

  .container {
      width: 100%;
      height: 100vh;
      background: linear-gradient(135deg, #153677, #4e085f);
      padding: 10px;
  }

  .todo-app {
      width: 100%;
      width: 540px;
      background-color: rgb(31, 31, 31);
      margin: 100px auto;
      padding: 40px 30px 70px;
      border-radius: 10px;
      box-shadow: 2px 2px 15px rgb(30, 29, 29);
  }

  .todo-app h1 {
      color: #dedada;
      display: flex;
      align-items: center;
  }

  .todo-app img {
      padding-left: 10px;
      width: 40px;
      height: 30px;
  }

  .row {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #edeef0eb;
      border-radius: 30px;
      padding-left: 20px;
      margin-bottom: 25px;
      margin: 30px auto 50px;
  }

  input {
      flex: 1;
      border: none;
      outline: none;
      background-color: transparent;
      padding: 15px;
      font-size: 20px;
      font-weight: 14px;
  }

  .row button {
      border: none;
      outline: none;
      background-color: #ff5945;
      color: white;
      font-size: 20px;
      border-radius: 40px;
      padding: 15px 50px;
      cursor: pointer;
  }

  ul li {
      position: relative;
      list-style: none;
      color: rgb(206, 202, 202);
      font-size: 20px;
      padding: 12px 8px 12px 50px;
  }

  ul li::before {
      content: '';
      position: absolute;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      background-image: url('unchecked.png');
      background-size: cover;
      background-position: center;
      top: 10px;
      left: 8px;
  }

  ul li.checked {
      color: #555;
      text-decoration: line-through;
  }

  ul li.checked::before {
      background-image: url('checked.png');
      background-size: 55px;
  }

  ul li span {
      position: absolute;
      right: 0;
      top: 5px;
      width: 40px;
      height: 40px;
      font-size: 22px;
      color: #555;
      line-height: 40px;
      text-align: center;
  }

  ul li span:hover {
      background-color: #edeef0;
  }
